<li class="mb-4">
    {% if showQuestion|default(false) %}
        <a class="mb-1 link-secondary" href="{{ path('app_question_show', {slug : answer.question.slug}) }}">{{ answer.question.name }}</a>

    {% endif %}
    <div class="row">
        <div class="col-1">
            <img src="{{ asset('images/tisha.png') }}" width="50" height="50" alt="Tisha avatar">
        </div>
        <div class="col-9">
            {{ answer.content|parse_markdown }}
            <p>-- {{ answer.username }}</p>
        </div>
        <div data-id="{{ answer.id }}" class="col-2 vote-arrows  js-vote-arrows text-end">
            <span>{{ answer.createdAt|ago }}</span>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="vote-up" data-direction="up"><i class="far fa-arrow-alt-circle-up"></i></a>
                <a class="vote-down" data-direction="down"><i class="far fa-arrow-alt-circle-down"></i></a>
                <span><span class="js-vote-total">{{ answer.votes }}</span></span>
            {% endif %}
        </div>
    </div>
</li>