<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100px; {% if is_granted('ROLE_PREVIOUS_ADMIN') %} background-color: #ee0000 !important;{% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">Cauldron Overflow</p>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_popular_answers') }}">Answers</a>
                </li>
                <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('admin_dashboard') }}">Admin</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            Hello {{ app.user.displayName }} !
            <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <a href="{{ path('app_homepage',{ '_switch_user' : '_exit'}) }}" class="nav-link">Exit Impersonation</a>
            {% endif %}

        {% else %}
        <a href="{{ path('app_login') }}" class="nav-link">Login</a>
        <a href="{{ path('app_register') }}" class="nav-link bg-black text-white">Sign up</a>
        {% endif %}
    </div>
</nav>

{% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="alert alert-danger">{{ flash }}</div>
{% endfor %}
{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    Made with <i style="color: red;" class="fa fa-heart"></i>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
